# Python artifacts
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env*
env/
venv/
.venv/
build/
dist/

# IDE/editor files
.idea/
.vscode/

# OS files
.DS_Store

# Linting and formatting
.ruff_cache/
.mypy_cache/
.pytest_cache/
.coverage
.coverage.*
coverage.xml
htmlcov/